.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 10;
    height: 50px;
    padding: 0 20px;
    box-shadow: 6px 6px 6px #bebebe,
                -8px -8px 28px #ffffff;
  }
  .formEntries{
    display: flex;    
    border-radius: 5px;
    border-width: .02px;
   
    background-color: white;
    padding: 5px;
    box-shadow: 8px 8px 28px #bebebe,
                -8px -8px 28px #ffffff;
    width: 70%;

  }
  .learningObjectives{
    display: flex;
    border-width: .02px;    
    border-radius: 5px;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 8px 8px 28px #bebebe,
                -8px -8px 28px #ffffff;
    width: 100%;
  }
  .leftNavPane {
    display: flex;
    flex-direction: column;
    z-index: 20;
    background-color: gray;
    width: 200px;
    padding: 20px;
  }
  
  .navButton {
    margin-bottom: 10px;
  }
  .homePage {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 100%;
  }
  
  input {
    margin-bottom: 10px;
  }

  .content {
    display: flex;
    flex: 1;
  }
  
  .pageContainer {
    flex: 1;
  }
  .secondPage {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 100%;
  }
  
  /* Box.css */
.box {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-title {
  text-align: center;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}

.box-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.draggable-textbox {
  padding: 10px; /* Add a padding of 10 pixels */
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: move;
  margin-bottom: 10px; /* Add a margin of 10 pixels between text boxes */
}

.dropzone {
  width: 49%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px dashed transparent;
}

.dropzone.over {
  border: 1px dashed black;
}
.droppable-area .draggable-textbox {
  margin-bottom: 10px; /* Add a margin of 10 pixels between text boxes */
}